.wrapper {
	@apply flex flex-col gap-4;
}

.title {
	@apply text-xl font-bold hover:text-blue-500;
	align-self: flex-start;
	transition: color 0.2s;
}

.link {
	@apply text-blue-500 underline;
	align-self: flex-start;
}

.commentText {
	@apply italic p-2 bg-gray-300 text-base;
}
