.rowTitle {
  transition: color 0.3s;
  &:hover {
    cursor: pointer;
    @apply text-blue-500;
  }
}

.reportLink {
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    @apply text-blue-500;
  }
}
